<div id="studentDisplay">
  <% @students.each do |student| %>
      <div class="studentBox" style="padding-top:<%=student.height=%>px;padding-left:<%=student.weight=%>px;padding-right:none;padding-bottom:none;color:<%=student.color=%>;border:2px solid <%=student.color=%>;">
        <%= student.name %>

      </div>
  <% end %>
</div>
