<%= render 'header'%>
<div id="page">
<div id="showPage">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.weight %>
</p>

<p>
  <strong>Color:</strong>
  <%= @student.color %>
</p>
<p>
  <strong>GPA:</strong>
  <%= @student.gpa %>
</p>
<p>
  <strong>Favourite Thing:</strong>
  <%= @student.fav %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
</div>
<%=render 'footer'%>
